main{
    padding: 72px;
}

#activity-container{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    height: 80%;
    overflow-y: auto;
}

.activity{
    background-color: rgba(43,118,178,1);
    padding: 16px;
    border-radius: 16px;
    width: 30%;
    filter: drop-shadow(4px 4px 4px);
    height: 225px;
}

.activity-header{
    display: flex;
    justify-content: space-between;
}

.activity h2{
    font-size: 2em;
    font-weight: 400;
    color:white;
}

.activity-progress{
    display: flex;
    gap: 4px;
    align-items: center;
}

.activity h3{
    font-weight: 300;
    font-size: 1.75em;
    color:white;
}

.activity p{
    color:white;
}

#create-activity-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#create-activity-container > h2{
    font-weight: 400;
}