main{
    padding: 72px;
}

#activity-container{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    height: 80%;
    overflow: auto;
}

.activity{
    background-color: rgba(43,118,178,1);
    padding: 16px;
    border-radius: 16px;
    width: 30%;
    filter: drop-shadow(4px 4px 4px);
    height: 225px;
}

.activity-header{
    display: flex;
    justify-content: space-between;
}

.activity h2{
    font-size: 2em;
    font-weight: 400;
    color:white;
}

.activity-progress{
    display: flex;
    gap: 8px;
    align-items: center;
}

.progress-bar{
    display:flex;
    align-items: center;
    padding: 2px;
    background-color:white;
    width: 175px;
    height: 24px;
    border-radius: 1em;
}

.progress-bar > div{
    border-radius: 1em;
    background: rgb(26,225,226);
    background: linear-gradient(270deg, rgba(26,225,226,1) 0%, rgba(43,118,178,1) 100%);
    width: 75%;
    height: 24px;
    text-align: center;
}

.activity h3{
    font-weight: 300;
    font-size: 1.75em;
    color:white;
}

.activity p{
    color:white;
}

#create-activity-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#create-activity-container > h2{
    font-weight: 400;
}

#new-activity-creator{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#new-activity-creator > div{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 24px 32px;
    background-color: white;
}

#new-activity-creator label{
    font-size: 1.5em;
}

#new-activity-creator input{
    font-size: 1.25em;
    height: 24px;
    padding: 4px;
}

#new-activity-creator textarea{
    padding: 4px;
    font-size: 1.25em;
}

@media only screen and (max-width: 1268px) {
    #create-activity-container{
        text-align: center;
    }
    #activity-container{
        flex-wrap: wrap;
        overflow: auto;
    }
    .activity{
        width: 90%;
        height: auto;
    }
    #new-activity-creator > div{
        width: 300px;
    }
}