main{
    padding: 72px;
}

#objective-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 80%;
    overflow-y: auto;
    padding-right: 8px;
}

#objective-selector-form > label{
    font-size: 1.5em;
}

#objective-selector-form > select{
    font-size: 1.5em;
}

.objective{
    background-color: rgba(43,118,178,1);
    padding: 16px;
    border-radius: 16px;
    filter: drop-shadow(4px 4px 4px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.objective h2{
    color: white;
    font-weight: 400;
    font-size: 1.75em;
}

.objective p{
    color:white;
}

.done{
    background-color: rgba(43,118,178, 0.25);
}

#new-objective-creator{
    align-items: center;
    display:flex;
    gap: 4px;
    padding-bottom: 12px;
}

#new-objective-creator > label{
    font-size: 1.5em;
}

#new-objective-creator > input{
    font-size: 1.25em;
    height: 24px;
    padding: 4px;
}

@media only screen and (max-width: 1250px) {
    main{
        min-height: 100vh;
    }
}