@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Montserrat", serif; 
    color: black;
}

body{
    background: rgb(18,50,76);
    background: linear-gradient(270deg, rgba(18,50,76,1) 0%, rgba(43,118,178,1) 100%);
    width: 100vw;
    height: 100vh;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 24px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(43,118,178);
    border-radius: 24px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(22, 77, 122);
}

#body-content{
    background-color: white;
    position: absolute;
    left: 32px;
    right: 32px;
    top: 32px;
    bottom: 32px;
    filter: drop-shadow(4px 4px 4px);
    display:flex;
}

.primary-btn{
    padding: 12px 24px;
    background-color: rgb(43,118,178);
    color: white;
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.4s ease;
}

.primary-btn:hover{
    background-color: rgb(25, 92, 148);
}

.danger-btn{
    padding: 24px 24px;
    background-color: rgb(238, 5, 5);
    color: white;
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.4s ease;
}

.danger-btn > i{
    font-size: 2em;
}

.danger-btn:hover{
    background-color: rgb(214, 9, 9);
}

.secondary-btn{
    padding: 12px 24px;
    border: 1px solid black;
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.4s ease;
    background-color: white;
}

.secondary-btn:hover{
    background-color: black;
    color: white;
}

main{
    width: 80%;
}

#side-navbar{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
    width: 15%;
    border-right: 1px solid black;
}

#side-navbar div{
    display:flex;
    flex-direction: column;
    gap: 36px;
}

#side-navbar > div > a {
    font-size: 1.25rem;
    transition: 0.4s ease;
}

#side-navbar > div > a:hover{
    scale: 1.05;
}

#side-navbar > h1{
    font-size: 2rem;
    transition: 0.4s ease;
}

#side-navbar > a > h1:hover{
    scale: 1.05;
}

#side-navbar-buttons > a{
    display: flex;
    gap: 4px;
}

#settings{
    width: 164px;
    text-align: center;
}

#settings div{
    display: none !important;
}

#settings-btn{
    padding: 8px;
    border: none;
    background: none;
    font-size: 1.25em;
}

#settings > div > button{
    padding: 12px 24px;
    cursor: pointer;
}

#settings:hover > div{
    width: 164px;
    display:flex !important;
    gap:4px;
    position: absolute;
    bottom: 64px;
}

@media only screen and (max-width: 1250px) {
    #side-navbar{
        width: 30%;
    }
    main{
        width: 70%;
    }
    body{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }
    #body-content{
        min-height: 100vh;
        position: relative;
        width: 90vw;
        left:0px;
        right: 0px;
        top: 48px;
    }
}

@media only screen and (max-width: 768px) {
    #settings:hover > div{
        width: 164px;
        display:flex !important;
        gap:4px;
        position: absolute;
        top: 224px;
    }

    #body-content{
        flex-direction: column;
        align-items: center;
    }
    #side-navbar{
        width: 100%;
        border-bottom: 1px solid black;
    }
    #side-navbar div{
        padding-top: 16px;
        gap: 16px;
    }
    #side-navbar > div > a{
        font-size: 1.25em;
    }

    #side-navbar h1::before {
        content: "beta ";
        color: #3498db;
        font-size: 0.25em;
    }
    #side-navbar h1::after {
        content: " Mobile";
        color: #3498db;
        font-size: 1.2em;
    }
}